<div class="sign-in-container">
  <div class="sign-in-form">
    <h2 class="sign-in-form-title">Sign up</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="sign-in-form-field">
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Email", class: "sign-in-form-input" %>
      </div>
      <div class="sign-in-form-field">
        <%= form.label :password %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <%= form.password_field :password, placeholder: "Password", class: "sign-in-form-input" %>
        <% end %>
      </div>
      <div class="sign-in-form-field">
        <%= form.label :password_confirmation %><br/>
        <%= form.password_field :password_confirmation, placeholder: "Password", autocomplete: "new-password", class: "sign-in-form-input" %>
      </div>
      <div class="sign-in-form-actions">
        <%= form.submit "Sign up", class: "sign-in-form-submit w-100" %>
        <div class="d-flex">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>