<header class="header-container top-header">
  <div class="header-left">
    <%= image_tag 'logo1.png', alt: "Logo", class: "header-logo" %>
    <h1 class="header-title">Lets Do</h1>
  </div>
  <% if user_signed_in? %>
    <nav class="header-right">
      <a href="#" class="m-4"><%= image_tag "icons/notification.png" %></a>
      <div class="btn-group">
        <span class="user-name"><%= current_user.username.present? ? current_user.username.capitalize : "user" %></span>
        <span class="user-image" data-bs-toggle="dropdown" aria-expanded="false">
          <%= image_tag current_user.avatar.attached? ? current_user.avatar : "avatarplaceholder.jpg", class: "w-100" %>
        </span>

        <ul class="dropdown-menu">
          <li>
            <%= link_to 'Home', root_path, class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to 'Profile', user_path(User.first), class: "dropdown-item" %>
          </li>
          <li>
            <%= link_to 'Post', new_post_path, class: "dropdown-item", data: { "turbo_stream": true } %>
          </li>
          <li>
            <%= link_to 'Log Out', destroy_user_session_path, data: { "turbo-method": :delete, "turbo_stream": false }, class: 'dropdown-item' %>
          </li>
        </ul>
      </div>
    </nav>
    <% end %>
</header>