<% if notifications.present? %>
  <span class="notification-drop-down-wrapper">
    <%= polaris_card(sectioned: false) do %>
      <%= polaris_resource_list do %>
        <% notifications.each do |notification| %>
          <% item = notification.params[:item]%>

          <% user =  item.user %>
          <div class="notification-wrapper <%= 'unread-notifications' if notification.read_at.blank?%>">
          <%= polaris_resource_item(url: user_path(user)) do |c| %>
            <% c.with_media do %>
              <% if user.avatar.attached? %>
                <%= polaris_avatar(source: user.avatar, name: user.username) %>
              <% else %>
                <%= polaris_avatar(customer: true, name: user.username) %>
              <% end %>
            <% end %>
            <% if notification.type ==  "FriendshipNotification" %>
              <% c.with_shortcut_actions do |shortcut_action| %>
                <% shortcut_action.with_button(url: friendships_path(sender_id: item.user.id, add_friend: true, request_id: item.id), content: "Accept", data: { turbo_method: "put" }) %>
                <% shortcut_action.with_button(url: friendships_path(sender_id: item.user.id, add_friend: false, request_id: item.id), content: "Reject", data: { turbo_method: "put" }) %>
              <% end %>
            <% end %>
            <h3>
              <%= polaris_text_style(variation: :strong) { user.username } %>
            </h3>
            <% if notification.type ==  "FriendshipNotification" %>
              <div><%= "Send You Friend Request" if item.status == "pending" %></div>
             <% elsif notification.type ==  "PostNotification" %>
              <div><%= "Shared a new post"%></div>
            <% end %>
          <% end %>
            </div>
        <% end %>
      <% end %>
    <% end %>
  </span>
<% end %>