<div class="user-container" data-controller="show" data-show-target="postModal">
  <div class="w-60 rounded-3 bg-light px-5 py-3">
    <%= form_with(model: post, local: true) do |form| %>
      <div class="post-form" data-controller="post">
        <div class="post-form-header">
          <div class="post-form-avatar">
            <%= image_tag(current_user.avatar.attached? ? current_user.avatar : "avatarplaceholder.jpg", class: "post-form-avatar-image") %>
          </div>
          <div class="post-form-username">
            <%= User.first.username %>
          </div>
        </div>
        <div class="post-form-body">
          <%= form.text_area :body, placeholder: "What's happening?", class: "post-form-textarea" %>
          <div class="post-form-media d-none" data-post-target="uploadArea">
            <%= form.file_field :images, accept: "image/*, video/*", class: "post-form-media-input", multiple: true %>
            <div class="post-form-media-preview d-flex justify-content-center align-items-center">
              <span>Click or drag and drop here</span>
            </div>
          </div>
        </div>
        <div class="post-form-footer">
          <button type="button" class="post-form-submit text-bg-info bg-light border" data-action="click->post#showUpload">
            upload
          </button>
          <span>
              <button type="button" class="post-form-submit text-bg-info bg-light border" data-action="click->main#closeCreate">
                Cancel
              </button>
            <%= form.submit "Post", class: "post-form-submit" %>
            </span>

        </div>
      </div>
    <% end %>
  </div>
</div>