<div class="user-container">
  <div class="user-posts">
    <div class="wallpaper-wrapper">
      <div class="wall-paper overflow-hidden">
        <%= image_tag current_user.wallpaper.attached? ? current_user.wallpaper : "daku.jpg", class: "user-post-image w-100" %>
      </div>
    </div>
    <div class="user-header">

      <div class="wallpaper-user-image-wrapper">
        <div>
           <span class="profile-user-image-wrapper">
              <%= image_tag @user.avatar.attached? ? @user.avatar : "avatarplaceholder.jpg", class: "user-avatar" %>
           </span>

          <div class="user-header-info">
            <div class="user-username">
              <%= @user.username.present? ? @user.username : "User" %>
            </div>
            <div class="user-bio">
              <%= @user.bio %>
            </div>
          </div>
        </div>
        <span class= "edit-profile-images">
         <%= link_to 'edit', profile_images_edit_user_path(@user), "data-turbo-method": "post"%>
        </span>
      </div>

    </div>
  </div>

  <div id="user_posts"
       data-controller="pagination"
       data-pagination-target="posts"
       data-pagination-url-value="<%= user_url %> "
       data-pagination-page-value="<%= 2 %>">

    <%= render partial: "shares/post", collection: @posts %>
  </div>
</div>