<div class="user-container">
  <div class="user-posts">
    <div class="wall-paper overflow-hidden">
      <%= image_tag "daku.jpg", class: "user-post-image w-100" %>
    </div>
    <div class="user-header mt--50">
      <%= image_tag @user.avatar.attached? ? @user.avatar : "avatarplaceholder.jpg", class: "user-avatar" %>
      <div class="user-header-info">
        <div class="user-username">
          <%= @user.username.present? ? @user.username : "User" %>
        </div>
        <div class="user-bio">
          <%= @user.bio %>
        </div>
      </div>
    </div>
  </div>
  <div class="user-posts">
    <h3 class="user-posts-title">Recent Posts</h3>
    <% @posts.each do |post| %>
      <div class="user-post w-unset h-unset border rounded-3">
        <% post.images.each do |image| %>
          <%= image_tag  image, class: "user-post-image" %>
        <% end %>
        <p class="p-3"><%= post.body %></p>
      </div>
    <% end %>
  </div>
</div>