<div class="sign-in-container">
  <div class="sign-in-form">
    <h2 class="sign-in-form-title">Forgot your password?</h2>
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |form| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="sign-in-form-field">
        <%= form.label :email %>
        <%= form.text_field :email, placeholder: "Email", class: "sign-in-form-input" %>
      </div>
      <div class="sign-in-form-actions">
        <%= form.submit "Send Email", class: "sign-in-form-submit w-100" %>
        <div class="d-flex">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    <% end %>
  </div>
</div>