<div class="posts-container" id="post_<%= post.id %>">
  <div class="post">
    <div class="post-header">
        <span>
          <%= image_tag post.user.avatar.attached? ? post.user.avatar : "avatarplaceholder.jpg", class: "post-user-avatar" %>
          <%= link_to post.user.username.present? ? post.user.username : "User", post.user %>
        </span>

      <span>
          <span href="#" id="postMenue" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <%= image_tag "icons/menue.png" %>
          </span>
          <ul class="dropdown-menu dropdown-menu-dark mt-2" aria-labelledby="postMenue">
            <li><a class="dropdown-item" href="#">Hide</a></li>
            <li><%= link_to 'Edit', edit_post_path(post), class: "dropdown-item", data: { "turbo_stream": true } %></li>
            <li><%= link_to 'Delete', post_path(post), class: "dropdown-item", data: { turbo_method: :delete } %></li>
          </ul>

        </span>
    </div>
    <% if post.images.attached? %>
      <div class="post-image-wrapper">
        <% if post.images.count > 1 %>
          <div class="d-flex">
            <% post.images.each_with_index do |image, index| %>
              <% if index <= 1 %>
                <span class="px-1 col-6">
                  <%= image_tag image, class: "post-image mb-3" %>
                </span>
              <% end %>
            <% end %>
          </div>
        <% else %>
          <%= image_tag post.images.first, class: "post-image mb-3" %>
        <% end %>
      </div>
    <% end %>

    <div class="post-body">
      <div class="post-content">
        <p><%= post.body %></p>
      </div>
      <div class="post-actions">
        <%= link_to "Like", like_post_path(post), class: "post-action bi-hand-thumbs-up" %>

        <%= link_to "Comment", post_comments_path(post), class: "post-action text-black-50", data: { "turbo_stream": true } %>

        <span class="ml-6 text-black-50" id="<%= dom_id(post) %>_comments_count">
          <%= post.comments.count if post.comments.present? %>
        </span>


        <%= link_to "Share", "#", class: "post-action" %>
      </div>
    </div>
  </div>
</div>

