<div class="posts-container">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-header">
        <%#= image_tag post.user.avatar, class: "post-user-avatar" %>
        <%= image_tag "avatarplaceholder.jpg", class: "post-user-avatar" %>
        <%= link_to post.user.username, post.user %>
      </div>
      <%#= image_tag post.picture, class: "post-image" %>
      <%= image_tag "daku.jpg", class: "post-image" %>
      <div class="post-body">
        <div class="post-content">
          <p><%= post.body %></p>
        </div>
        <div class="post-actions">
          <%= link_to "Like", like_post_path(post), class: "post-action" %>
          <%= link_to "Comment", "#", class: "post-action" %>
          <%= link_to "Share", "#", class: "post-action" %>
        </div>
        <div class="post-comments">
          <% post.comments.each do |comment| %>
            <div class="post-comment">
              <%= image_tag comment.user.avatar, class: "post-comment-avatar" %>
              <div class="post-comment-body">
                <div class="post-comment-username">
                  <%= link_to comment.user.username, comment.user %>
                </div>
                <div class="post-comment-content">
                  <p><%= comment.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="post-comment-form">
          <%#= form_with model: [post, Comment.new], local: true do |form| %>
            <%#= form.text_area :content, class: "post-comment-textarea" %>
            <%#= form.submit "Post Comment", class: "post-comment-submit" %>
          <%# end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
