<!DOCTYPE html>
<html>
<head>
  <title>MixTg</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>


<body data-controller="main">
<div class="header-wrapper">
  <%= render 'shares/header' %>
  <div id="flashMessage">
    <%= render 'shares/flash_message' %>
  </div>

  <div class="position-relative">
    <div id="rightModal" class="right-modal-wrapper d-none"></div>
    <div id="leftModal" class="left-modal-wrapper d-none"></div>
  </div>
</div>


<div id='postWrapper' class="position-absolute w-100 create-wrapper">
</div>


<%= yield %>
</body>
</html>
